* {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.viz-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
}

.info {
    position: relative;
    top: 10px;
}

.circle {
    opacity: 0.85;
    stroke: black;
    stroke-width: 2.5px;
}