* {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.info {
    position: relative;
    top: 100px;
}

.circle {
    opacity: 0.85;
    stroke: black;
    stroke-width: 2.5px;
}