/* Algemene styling */
* {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

div {
    margin: 20px;
    width: fit-content;
}

.info {

    text-align: center;
}

.info h1 {
    margin-bottom: 8px;
}

.info p {
    width: 500px;
}

/* Styling voor de datavisualisatie */
#visualisatie {
    position: relative;
    top: -70px;
}

/* Stukjes van de chart */
.pie {
    stroke: white;
    stroke-width: 5px;
    opacity: 0.7;
}

.pie:hover {
    opacity: 1;
}

/* Lijnen naar het label */
.polyline {
    stroke: black;
    fill: none;
    stroke-width: 1px;
}

/* Labels */
.labels {
    font-weight: 200;
}