* {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.datavis-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    text-align: center;
}

.info {
    position: relative;
    top: 20px;
}

.circle {
    opacity: 0.8;
    stroke: black;
    stroke-width: 2.5px;
}

.circle:hover {
    stroke-width: 5px;
    opacity: 0.9;
}

.tooltip {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    opacity: 0;
}